.form {
    margin-top: 20px;
    max-width: 1000px;
    background-color: rgb(106, 139, 106);
    margin: 0 auto;
    padding: 15px;
    box-shadow: rgba(73, 72, 72, 0.479) 10px 10px 5px 5px;
    border-radius: 10px;
}

.form__fieldset {
    border: 5px dotted black;
}

.form__legend {
    text-align: center;
    font-size: 25px;
    background-color: rgb(93, 107, 106);
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px black;
}

.form__field {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.form__button {
    padding: 10px;
    border-radius: 30% / 20%;
    box-shadow: 5px 4px 3px black;
    margin-top: 25px;
    text-align: center;
}

.form__result {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(46, 45, 45, 0.63);
}